* {
    margin: 0;
}

body {
    min-height: 100vh;
    background: darkslategray;
    height: 900px;
}

.flex-container {
    display: flex;
    height: 900px;
    justify-content: center;
}

#centre-div {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15%;
    margin-bottom: 15%;
    width: 55%;
    background: lightslategray;
    align-items: center;
}

h1 {
    margin-top: 3%;
    font-size: 45px;
}

#query-input {
    width: 95%;
    padding-top: 1%;
    font-size: 22px;
}

#format-select,
#format-select-two {
    width: 95%;
    font-size: 22px;
}

#submit-button {
    width: 95%;
    margin-bottom: 1%;
    border-radius:  5px;
    font-size: 22px;
}

/* Affecting search-results.html */

#left-panel {
    width:20%;
    height: 100%;
    background: lightblue;
}

main {
    display: flex;
    height: 100%;
    width: 80%;
}

#flex-container-two {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 40%;
}

#query-input-two{
    width: 95%;
    padding-top: 1%;
}

#submit-button-two, 
#go-back {
    width: 95%;
    font-size: 20px;
}

h2 {
    color: white;
}

#body-flex{
    height: 100%;
    display: flex;
}